# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.venv

# Application specific
config.json
*.log
CRASHED.txt
*.db
*.sqlite

# IDE
.vscode/
.idea/
*.swp
*.swo

# Windows
Thumbs.db
desktop.ini

# Ngrok
ngrok.exe
ngrok.yml
*.ngrok
